<footer class="rodape">
    <h3 class="marca-rodape">Partiu IF Piauí Online</h3>
    <p class="texto-rodape">Projeto educacional feito por alunos para alunos.</p>
    <nav class="grade-nav-rodape" aria-label="Navegação do rodapé">
                <button class="link-rodape" >Início</button>
                <button class="link-rodape" disabled>Partiu IF</button>
                <button class="link-rodape" disabled>Estude</button>
                <button class="link-rodape" disabled>Cursos</button>
                <button class="link-rodape" disabled>Campi</button>
                <button class="link-rodape" disabled>Informações</button>
    </nav>
    <div class="rodape-aviso">
        <p class="aviso-rodape"><strong>Partiu IF Piauí Online · Protótipo | Última atualização: 13/09/2026</strong></p>
    </div>
</footer>