<footer class="rodape">
            <div class="largura-total largura-max-1180 margem-auto-x preenchimento-x-5" style="padding-top: 2.5rem; padding-bottom: 2.5rem;">
                <div class="grade grade-rodape espaco-9">
                    <div>
                        <p class="fonte-extra-negrito texto-xl">Partiu IF Piauí Online</p>
                        <p class="fonte-negrito margem-superior-3 largura-max-lg altura-linha-7">Protótipo educacional feito por alunos para alunos.</p>
                    </div>
                    <nav class="grade grade-colunas-2 espaco-3 altura-max-conteudo" aria-label="Navegação do rodapé">
                        <button class="link-rodape" data-rota="inicio">Início</button>
                        <button class="link-rodape" data-rota="programa" disabled>Partiu IF</button>
                        <button class="link-rodape" data-rota="estudo" disabled>Estude</button>
                        <button class="link-rodape" data-rota="cursos" disabled>Cursos</button>
                        <button class="link-rodape" data-rota="campi" disabled>Campi</button>
                        <button class="link-rodape" data-rota="informacoes" disabled>Informações</button>
                    </nav>
                </div>
                <div class="borda-superior margem-superior-8 preenchimento-superior-5">
                    <p class="copyright-rodape"><strong>Partiu IF Piauí Online · Protótipo | Última atualização: 06/09/2026</strong></p>
                </div>
            </div>
</footer>