<header class="cabecalho-portal">
    <div class="linha-cabecalho">
        <button class="botao-logo" type="button"  aria-label="Ir para início">
            <span>
                <span class="titulo-marca">Partiu IF Piauí</span>
            </span>
        </button>
        <nav class="nav-desktop" aria-label="Navegação principal">
            <button class="item-nav item-nav-01" type="button" >Início</button>
            <button class="item-nav item-nav-02" type="button"  disabled>Partiu IF</button>
            <button class="item-nav item-nav-03" type="button"  disabled>Estude</button>
            <button class="item-nav item-nav-04" type="button"  disabled>Cursos</button>
            <button class="item-nav item-nav-05" type="button"  disabled>Campi</button>
            <button class="item-nav item-nav-06" type="button"  disabled>Informações</button>
            <button class="botao-area-estudante" type="button" disabled>Área do Estudante</button>
        </nav>
        <button id="botao-menu" class="botao-menu" type="button" title="b"><i data-lucide="menu" width="20" class="icone-menu-mobile"></i></button>
    </div>
    <nav id="menu-mobile" class="painel-mobile" aria-label="Navegação mobile">
        <div class="grade-menu-mobile">
            <button class="item-nav-mobile" type="button" >Início</button>
            <button class="item-nav-mobile" type="button"  disabled>Partiu IF</button>
            <button class="item-nav-mobile" type="button"  disabled>Estude</button>
            <button class="item-nav-mobile" type="button"  disabled>Cursos</button>
            <button class="item-nav-mobile" type="button"  disabled>Campi</button>
            <button class="item-nav-mobile" type="button"  disabled>Informações</button>
            <button class="item-nav-mobile" type="button" disabled>Área do Estudante</button>
        </div>
    </nav>
</header>