<header class="cabecalho-portal fundo-branco">
            <div class="largura-total largura-max-1180 margem-auto-x preenchimento-x-5">
                <div class="altura-min-72 flexivel itens-centro espaco-4 justificar-espaco">
                    <button class="flexivel itens-centro espaco-2 texto-esquerda" type="button" data-rota="inicio" aria-label="Ir para início">
                        <span>
                            <span class="bloco titulo-marca">Partiu IF Piauí</span>
                        </span>
                    </button>
                    <nav class="nav-desktop flexivel itens-centro espaco-5" aria-label="Navegação principal">
                        <button class="item-nav ativo" type="button" data-rota="inicio">Início</button>
                        <button class="item-nav" type="button" data-rota="programa" disabled>Partiu IF</button>
                        <button class="item-nav" type="button" data-rota="estudo" disabled>Estude</button>
                        <button class="item-nav" type="button" data-rota="cursos" disabled>Cursos</button>
                        <button class="item-nav" type="button" data-rota="campi" disabled>Campi</button>
                        <button class="item-nav" type="button" data-rota="informacoes" disabled>Informações</button>
                    </nav>
                    <button class="botao botao-contorno botao-area-estudante oculto visivel-grande" type="button" data-rota="area-estudante" disabled>Área do estudante</button>
                    <div class="acoes-mobile flexivel itens-centro espaco-2">
                        <button id="botao-menu" class="botao-menu" type="button" aria-expanded="false" aria-controls="menu-mobile"><i data-lucide="menu" width="20" class="icone-menu-mobile"></i><span class="apenas-leitor">Abrir menu</span></button>
                    </div>
                </div>
            </div>
            <nav id="menu-mobile" class="painel-mobile" aria-label="Navegação mobile">
                <div class="grade grade-colunas-2 espaco-2">
                    <button class="item-nav texto-esquerda" type="button" data-rota="inicio">Início</button>
                    <button class="item-nav texto-esquerda" type="button" data-rota="programa" disabled>Partiu IF</button>
                    <button class="item-nav texto-esquerda" type="button" data-rota="estudo" disabled>Estude</button>
                    <button class="item-nav texto-esquerda" type="button" data-rota="cursos" disabled>Cursos</button>
                    <button class="item-nav texto-esquerda" type="button" data-rota="campi" disabled>Campi</button>
                    <button class="item-nav texto-esquerda" type="button" data-rota="informacoes" disabled>Informações</button>
                </div>
            </nav>
</header>